{% extends "_layout/base.html" %}

{% block globalCss %}
  <link rel="stylesheet" href="{{ static }}/css/lib/bootstrap.css" />
  <link href="{{ static }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ static }}/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ static }}/css/common.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{# 加载头部 #}
{% import "_components/header.html" as header %}

{# 加载底部 #}
{% import "_components/footer.html" as footer %}

{# 加载面包屑导航 #}
{% import "_components/breadcrumb.html" as breadcrumb %}

{# 加载侧栏导航 #}
{% import "_components/sidebar.html" as sidebar %}

{# 公共Dom树 #}
{% block body %}

  {# 头部 #}
  {{ header.default(static=static) }}

  <div class="main-body">
    {# 加载页面内容 #}
    {% block content %}
    {% endblock %}
  </div>

  {# 底部 #}
  {{ footer.default(static=static) }}

{% endblock %}


{% block globalJs %}
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script type="text/javascript" src="{{ static }}/js/memenu.js"></script>
  <script>$(document).ready(function(){$(".memenu").memenu();});</script> 
  <script src="{{ static }}/js/responsiveslides.min.js"></script>
  <script type="text/javascript" src="{{ static }}/js/lib/imagezoom.js"></script>
  <script>  
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: false,
      });
    });
  </script>
<script>
$(function(){
  var imgList = $(".thumb-contianer ul li img");
  var contianerWidth = $(".origin-contianer")[0].offsetWidth;
  var sliderWidth = contianerWidth*imgList.length;
  $(".slider").css("width",sliderWidth);
  for (var i = 0; i < imgList.length; i++) {
      var html = $(imgList[i]).clone();
      $(html).css("width",contianerWidth);
      $(html).attr("data-imagezoom","true");
      if(i==0){
        $(html).addClass("current");
      }
      $(".slider").append(html);
  };

  function slideTo(i){
      var current = $(".slider img").index($(".current"));
      var itemWidth = $(".slider img")[0].clientWidth;
      var currentLeft = parseInt($(".slider").css("left"));
      //console.log(parseInt($(".slider").css("left")));
     $(".slider").stop(true, false).animate({"left": -i*itemWidth},"slow");
     $(".current").removeClass("current");
     $($(".slider img")[i]).addClass("current");
  }
  function slideToNext(){
    var sliderList = $(".slider img");
    var current = sliderList.index($(".current"));
    var next = 0
    if(current<(sliderList.length-1)){
      next = current+1;
    }
    console.log(next);
    slideTo(next);
  }
  var interval = setInterval(function () { slideToNext()},4000);
  imgList.click(function(){
    var index = $(".thumb-contianer img").index($(this));
    slideTo(index);
    clearInterval(interval);
    interval = setInterval(function () { slideToNext()},4000);
    // $(".origin-contianer").html(html);
  });
  $(".slider").hover(function(){  
      clearInterval(interval);
  },function(){  
      interval = setInterval(function () { slideToNext()},4000);
  });

});
</script>
{% endblock %}
