{% extends "_layout/base.html" %}

{% block globalCss %}
  <link rel="stylesheet" href="/static/css/lib/bootstrap.css" />
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/static/css/common.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{# 加载头部 #}
{% import "_components/header.html" as header %}

{# 加载底部 #}
{% import "_components/footer.html" as footer %}

{# 公共Dom树 #}
{% block body %}

  {# 头部 #}
  {{ header.default() }}

  <div class="main-body">
    {# 加载页面内容 #}
    {% block content %}
    {% endblock %}
  </div>

  {# 底部 #}
  {{ footer.default('这是底部') }}

{% endblock %}


{% block globalJs %}
  <script type="text/javascript" src="/static/js/lib/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/lib/bootstrap.js"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script type="text/javascript" src="/static/js/memenu.js"></script>
  <script>$(document).ready(function(){$(".memenu").memenu();});</script> 
  <script src="/static/js/responsiveslides.min.js"></script>
  <script>  
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: false,
      });
    });
  </script>
  <script src="/static/js/lib/imagezoom.js"></script>
  <script defer src="/static/js/lib/jquery.flexslider.js"></script>
  <script>
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
    });
  });
  </script>
{% endblock %}
