{% extends "_layout/base.html" %}

{% block globalCss %}
  <link rel="stylesheet" href="/static/css/bootstrap.css">
{% endblock %}

{# 加载头部 #}
{% import "_components/header.html" as header %}

{# 加载底部 #}
{% import "_components/footer.html" as footer %}

{# 公共Dom树 #}
{% block body %}
<div class="container-fluid">

  {# 头部 #}
  {{ header.default() }}

  <div class="main-body">
    {# 加载页面内容 #}
    {% block content %}
    {% endblock %}
  </div>

  {# 底部 #}
  {{ footer.default('这是底部') }}

</div>
{% endblock %}


{% block globalJs %}
  <script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
{% endblock %}
