{% macro default(title='',fixClass='') %}
<div class="subscribe">
	 <div class="container">
	 </div>
</div>
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 about-us">
				 <h3>About Us</h3>
				 <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
			 </div>
			 <div class="col-md-3 ftr-grid product-list">
					<h3>Product</h3>
					<ul class="nav-bottom">
						<li><a href="product.html">Sport </a></li>
						<li><a href="product.html">Pet</a></li>
						<li><a href="product.html">Bath</a></li>
						<li><a href="product.html">Yoga</a></li>
						<li><a href="product.html">Golf</a></li>
						<li><a href="product.html">Beach</a></li>

					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>&nbsp;</h3>
					<ul class="nav-bottom">
						<li><a href="product.html">Daily</a></li>
						<li><a href="product.html">Socks</a></li>
						<li><a href="product.html">Stock&nbsp;Item</a></li>
						<li><a href="product.html">Others</a></li>
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>More Info</h3>
					<ul class="nav-bottom">
						<li><a href="login.html">Exhibition</a></li>
						<li><a href="#">Learn more</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>					
			 </div>
				
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>Copyright &copy; 2015.Company name All rights reserved.</p>
		 </div>
		 <div class="social">							
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="dribble"></i></a>	
				<a href="#"><i class="google"></i></a>	
				<a href="#"><i class="youtube"></i></a>	
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
{% endmacro %}