{% macro default(title='',fixClass='',static='') %}
<div class="header-top">
   <div class="header-bottom">      
      <div class="logo">
        <a href="/index/index.html"><img src="{{ static }}/images/logo.png"></a>
      </div>   
       <div class="top-nav">
        <ul class="memenu skyblue">
          <li class="active"><a href="/index.html">Home</a></li>
          <li><a href="/profile/about-us.html">About Us</a></li>
          <li><a href="/catalog/product.html">Products</a>
            <div class="mepanel">
              <div class="row">
                <div class="col1 me-one">
                  <ul>
                    <li><a href="/catalog/Sport.html">Sport </a></li>
                    <li><a href="/catalog/Pet.html">Pet</a></li>
                    <li><a href="/catalog/Bath.html">Bath</a></li>
                    <li><a href="/catalog/Yoga.html">Yoga</a></li>
                    <li><a href="/catalog/Golf.html">Golf</a></li>
                    <li><a href="/catalog/Beach.html">Beach</a></li>
                    <li><a href="/catalog/Daily.html">Daily</a></li>
                    <li><a href="/catalog/Socks.html">Socks</a></li>
                    <li><a href="/catalog/StockItem.html">Stock&nbsp;Item</a></li>
                    <li><a href="/catalog/Others.html">Others</a></li>
                  </ul> 
                </div>
              </div>
            </div>
          </li>
          <li><a href="/profile/exhibition.html">Exhibition</a></li>
          <li><a href="/profile/learn-more.html">Learn More</a></li>
          <li><a href="/profile/contact-us.html">Contact Us</a></li>         
        </ul>       
       </div>
       <div style="font-family:Arial;position:absolute;display:inline-block;right:30px;top:15px;"><a href="#">中文&nbsp;Chinese</a></div>
       <div class="clearfix"> </div>
       <!---->       
       </div>
      <div class="clearfix"> </div>
</div>
{% endmacro %}