{% extends "./_layout/layout.html" %}

{# 填写页面 title #}
{% block title %}About us - winone{% endblock %}

{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<!--pages-starts-->
  <div class="pages">
    <div class="container">
    	<ol class="breadcrumb" style="font-family:Arial;">
			<li><a href="index.html">Home</a></li>
			<li class="active">About Us</li>
		</ol>
		<h2 class="top">About Us</h2>
		<div style="margin-top:2rem;"></div>
		<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; Winone Textile Limited was located in China. Since the company was established, the production scale is developing rapidly, the benefit improves year by year, it becomes a professional towel manufacturer with strong strength. Our factory strict on quality control mainly, regards product quality as lifeblood. We invite the administrative staffs with experienced of technology to instruct the production. We have also established good cooperation with the customers.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; This is a professional factory that produces quick dry towel, cap, bath cotton towel, bath gown and sport textile etc, which owned advanced wig production technologies. Our all products are according with the standards of some countries including EU, USA, Australia etc. The package designs by ourselves. &nbsp; &nbsp; There are more than 100 kinds of colors and more than ten series. There are also stocks for a long time.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;&nbsp;We have different design in different season, welcome to inquiry!</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;&nbsp;Make orders on sample is acceptable. Welcome to visit us and talk over business!&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;"> 1. Mini Order:&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; *Bath towel: 500PCS&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; *Hand &amp; Face towel: 500PCS</span><br />
<br />
<span style="font-family:Arial;font-size:24px;"> 2. Sample Term:&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; * Sample order is available with confirmation from us.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;&nbsp;* Samples charge will be refunded in your first order.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;"> 3. Price terms:&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; *We offer FOB and CIF price terms. We also provide door to door service.</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">4. Payment terms:&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 1.30% deposit pay in advance, then balance against the copy of the B/L.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;&nbsp;2.Irrevocable L/C at sight.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 3. Postage of samples:&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; Buyer bear the postage of DHL, UPS, FedEx, EMS etc or shipping freight. But buyer also can supply a &nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; account No of DHL, /UPS/FedEx/EMS to bear the freight collect.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">5. Lead time&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;&nbsp;1. Usually within 10 working days for samples after the receipt of prepaying money.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 2. Usually within 15 working days for bulk order after the receipt of deposit.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;"> &nbsp; &nbsp; &nbsp; &nbsp; But the exact time of delivery must depend on the actual produce condition of idiographic product at&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;"> &nbsp; &nbsp; &nbsp; &nbsp; that time.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;"> 6. Transportation:&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; If FOB, we can help you to arrange the relative shipping matters, also you can specify shipping agent.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp;  CIF, CNF. etc.&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;"> 7. Quantity for Container&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 20" container, can load about 28 CBM.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 40" container, can load about 58 CBM.&nbsp;</span><br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; 40 HQ container, can load about 68 CBM&nbsp;</span><br />
<br />
<span style="font-family:Arial;font-size:24px;">&nbsp; &nbsp; (We have different design in different season, welcome to inquiry: sales@winone-textile.com )</span><br />
    </div>  
  </div>  
<!---->
  {{ content }}
{% endblock %}