{% extends "./_layout/layout.html" %}

{# 填写页面 title #}
{% block title %}Home - winone{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
	<!-- slider -->
	<div class="slider">
	  <div class="callbacks_container">
	     <ul class="rslides" id="slider">
	         <li>
				 <div class="banner1">
					  <div class="banner-info">
					  <h3></h3>
					  <p></p>
					  </div>
				 </div>
	         </li>
	         <li>
				 <div class="banner2">
					 <div class="banner-info">
					 <h3></h3>
					 <p></p>
					 </div>
				 </div>
			 </li>
	         <li>
	             <div class="banner3">
	        	 <div class="banner-info">
	        	 <h3></h3>
	          	 <p></p>
				 </div>
				 </div>
	         </li>
	         <li>
	             <div class="banner4">
	        	 <div class="banner-info">
	        	 <h3></h3>
	          	 <p></p>
				 </div>
				 </div>
	         </li>
	      </ul>
	  </div>
  	</div>
  	<!-- slider end -->
  	<!-- items -->
  	<div class="items">
	 <div class="container">
		 <div class="items-sec">
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Pet/Pet Towel.html"><img src="/static/images/WOP-210/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Pet Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Pet/Pet Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Sport/Pocket Towel.html"><img src="/static/images/WOS-310/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Pocket Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Sport/Pocket Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Sport/Sport Towel.html"><img src="/static/images/WOS-320/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Sport Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Sport/Sport Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Sport/Gym Towel.html"><img src="/static/images/WOS-340/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Gym Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Sport/Gym Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Sport/Swimming Towel.html"><img src="/static/images/WOS-350/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Swimming Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Sport/Swimming Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Daily/Glasses Towel.html"><img src="/static/images/WOD-410/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Glasses Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Daily/Glasses Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Bath/Bath Towel.html"><img src="/static/images/WOB-510/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Bath Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Bath/Bath Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Bath/Bath Towel Set.html"><img src="/static/images/WOB-520/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Bath Towel Set</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Bath/Bath Towel Set.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="col-md-3 feature-grid" style="width:33%">
				 <a href="/item/Beach/Cotton Sport Towel.html"><img src="/static/images/WOCT-730/1.jpg" alt=""/>	
					 <div class="arrival-info">
						 <h4>Cotton Sport Towel</h4>
						 <!-- <span class="pric1"><del>Rs 18000</del></span> -->
						 <!-- <span class="disc">[12% Off]</span> -->
					 </div>
					 <div class="viw">
						<a href="/item/Beach/Cotton Sport Towel.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>View</a>
					 </div>
				  </a>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	</div>
  	<!-- items end -->

{% endblock %}
